setuptools
cython
cffi==1.16.0
contourpy==1.2.0
cycler==0.12.1
fonttools==4.45.0
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.2
packaging==23.2
Pillow==10.3.0
pycparser==2.21
pyparsing==3.1.1
PySide2==5.13.2
python-dateutil==2.8.2
six==1.16.0
sigpy==0.1.26
pypulseq @ git+https://github.com/imr-framework/pypulseq@dev
tomli >= 1.1.0 ; python_version < "3.11"
seaborn